.my-flex-container{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  -padding: 0 1% 0 1%;
}
.my-flex-block1{

  -flex-direcrion:row;
	flex-basis:5.5%;
	background-color: #333;
	margin: 0px 30px 0 0px;
	padding: 102px 20px 0 10px;
	color: #fff;
}
.my-flex-block2{
  -flex-direcrion:row;
	flex-basis:60.6%;
	-background-color: blue;
	-margin: 0 3% 0 3%;
}
.my-flex-block3{

  -flex-direcrion:row;
	-flex-basis:25.7%;
	flex-basis:500px;	
	background-color: #333;
	margin: 0 0px 0 30px;
	padding: 0 5px 0 5px;
}
/*FOOTER*/
.footer-flex-container{
	display: flex;
  flex-direction:row;
  -justify-content: space-between;
  justify-content: center;
  padding: 3% 0% 3% 0%;
  border-top-width: 15px;
 border-top-color: #57b9ff;
 border-top-style: solid;
 margin-top: -1px;
  
}
.footer-flex-block{
	-flex-basics:33.3%;
	padding: 0 30px 0 30px;
}
/*FOOTER*/

.streamart{
	margin: 20px 30px 20px 30px;
	width: 355px;
	height: 300px;
	display: inline-block;
	line-height: 1em;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}
.streamimg{
	-border-bottom-color: #fff;
	-border-color: #fff;
	background-color: #fff;
	border: 4px solid #282828;
	-border: 1;
	border-width: 5px;
	border-radius: 5px 5px 5px 5px;
	overflow: hidden;
	width: 355px;
	height: 200px;
}
.streamsum{
	font-size: 11pt;
	text-overflow: ellipsis;   
}
.streamname{
	line-height: 0.9em;
	font-size: 14pt;  
	font-weight: 700;
	text-overflow: ellipsis;
}

@media screen and (max-width: 1680px) {
	.my-flex-container{
		-background-color: red;
		
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  -padding: 0 1% 0 1%;
}
.my-flex-block1{

  -flex-direcrion:row;
	flex-basis:5.5%;
	background-color: #333;
	margin: 0px 30px 0 0px;
	padding: 102px 20px 0 10px;
	color: #fff;
}
.my-flex-block2{
  -flex-direcrion:row;
	flex-basis:60.6%;
	-background-color: blue;
	-margin: 0 3% 0 3%;
}
.my-flex-block3{

  -flex-direcrion:row;
	flex-basis:500px;
	
	background-color: #333;
	margin: 0 0px 0 30px;
}

.streamart{
	margin: 20px 15px 20px 15px;	
}
}
@media screen and (max-width: 1280px) {
	.my-flex-container{
 -background-color: blue;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  -padding: 0 1% 0 1%;
}
.my-flex-block1{

  -flex-direcrion:row;
	flex-basis:5.5%;
	background-color: #333;
	margin: 0px 20px 0 0px;
	padding: 102px 15px 0 10px;
	color: #fff;
}
.my-flex-block2{
  -flex-direcrion:row;
	flex-basis:60.6%;
	-background-color: blue;
	-margin: 0 3% 0 3%;
}
.my-flex-block3{

  -flex-direcrion:row;
	flex-basis:500px;
	background-color: #333;
	margin: 0 0px 0 20px;
}
.streamart{
	margin: 20px 10px 20px 10px;	
}
}
@media screen and (max-width: 980px) {	
	.my-flex-container{
		-background-color: green;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  -padding: 0 1% 0 1%;
}
.my-flex-block1{

  -flex-direcrion:row;
	flex-basis:5.5%;
	background-color: #333;
	margin: 0px 10px 0 0px;
	padding: 102px 10px 0 5px;
	color: #fff;
}
.my-flex-block2{
  -flex-direcrion:row;
	flex-basis:60.6%;
	-background-color: blue;
	-margin: 0 3% 0 3%;
}
.my-flex-block3{

  -flex-direcrion:row;
	flex-basis:500px;
	background-color: #333;
	margin: 0 0px 0 10px;
}
.streamart{
	margin: 20px 10px 20px 10px;	
}
}	

/* CHANGE TO ROWS*/
@media screen and (max-width: 840px) {
	.my-flex-container{
		background-color: #333;
		-background-color: green;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  padding: 10px 0 0 0;
}
.my-flex-block1{
	order: 2;

  -flex-direcrion:row;
	-flex-basis:5.5%;
	background-color: #333;
	margin: 0px 0px 0 0px;
	padding: 10px 5px 0 5px;
	color: #fff;
}
.my-flex-block2{
	order: 1;
color: #fff;
  -flex-direcrion:row;
	-flex-basis:60.6%;
	-background-color: blue;
	-margin: 0 3% 0 3%;
	
}
.my-flex-block3{
	display: none;
  -flex-direcrion:row;
	-flex-basis:500px;
	background-color: #333;
	margin: 0 0px 0 0px;
}
.text-flex-box{
	display: none;}
	
/*FOOTER*/
.footer-flex-container{
	display: flex;
  flex-direction: column;
  -justify-content: space-between;
  justify-content: center;
  padding: 0 50px 3% 50px;
  border-top-width: 5px;
 border-top-color: #57b9ff;
 border-top-style: solid;
 margin-top: -1px;
}
.footer-flex-block{
	flex-basics:100%;
	padding: 0 50px 0 50px;
}
/*FOOTER*/	
.streamart{
	margin: 20px 5px 20px 5px;	
}
	
}