/*FOOTER*/
.footer-flex-container{
	display: flex;
  flex-direction:row;
  -justify-content: space-between;
  justify-content: center;
  padding: 3% 0% 3% 0%;
  -border-top-width: 15px;
 -border-top-color: #57b9ff;
 -border-top-style: solid;
}
.footer-flex-block{
	-flex-basics:33.3%;
	padding: 0 30px 0 30px;
}
/*FOOTER*/

@media screen and (max-width: 1680px) {
	
}
@media screen and (max-width: 1280px) {
	
}
@media screen and (max-width: 980px) {	
	
}	

/* CHANGE TO ROWS*/
@media screen and (max-width: 840px) {

.text-flex-box{
	display: none;}
	
/*FOOTER*/
.footer-flex-container{
	display: flex;
  flex-direction: column;
  -justify-content: space-between;
  justify-content: center;
  padding: 0 50px 3% 50px;
  -border-top-width: 5px;
 -border-top-color: #57b9ff;
 -border-top-style: solid;
 margin-top: -1px;
}
.footer-flex-block{
	flex-basics:100%;
	padding: 0 50px 0 50px;
}
/*FOOTER*/	
	
}