/*html, body {
    font-family: Ubuntu, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
form {
    display: none;
}
form.unauthorized {
    display: block;
    position: absolute;
    top: 40%;
    bottom: 40%;
    left: 35%;
    right: 35%;
}
input, button {
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    border: 1px solid #DDD;
}
#password.invalid {
    box-shadow: 0 0 10px 0 red;
    -webkit-box-shadow: 0 0 10px 0 red;
    -moz-box-shadow: 0 0 10px 0 red;
    border: 1px solid #F55;
}
input:focus {
    box-shadow: 0 0 10px 0 gray;
    -webkit-box-shadow: 0 0 10px 0 gray;
    -moz-box-shadow: 0 0 10px 0 gray;
    outline: none;
    border: 1px solid #DDD;
}
form>div {
    opacity: 0.4;
    text-align: center;
    width: 100%;
}
form.unauthorized ~ * {
    display: none;
}
body>div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    min-height: 100px;
}
#input {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 10px 0 black;
    -webkit-box-shadow: 0 0 10px 0 black;
    -moz-box-shadow: 0 0 10px 0 black;
    outline: none;
    box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
}
#input:empty:after {
    content: 'Ваше сообщение..';
    opacity: 0.4;
}
#input:empty:focus:after {
    content: '';
} */
.chatContainer {
color: #ffffff;
}
#messages {
    position: fixed;
    top:0; left:0; right:0;
    height: 85%;
    max-height: calc(100% - 100px);
    overflow-y: overlay;
    overflow-x: hidden;
    color: #ffffff;
}
#messages>div {
    width: 100%;
    margin-top: -18px;
    padding-left: 10px;
    color: #ffffff;
}
#messages>div>div {
    position: relative;
    color: #ffffff;
}
#messages>div>div:nth-child(1) {
    -color: blue;
    font-weight: bold;
    left: 36px;
    color: #ffffff;
}
#messages>div>div:nth-child(2) {
    top: -16px;
    width: 32px;
    height: 32px;
    border-radius: 3px;
    background: gray;
}
#messages>div>div:nth-child(3) {
    top: -32px;
    left: 36px;
    color: #ffffff;
}
